@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1440px) {
    @content;
  }
}

.footer {
  background-color: #0f172a;
  padding-left: 0;
  padding-right: 0;

  @include lg {
    padding-left: 80px;
    padding-right: 80px;
  }
}
